
<div class="bannerText">
  <div class="bannerText__inner">
    <div class="bannerText__block">{{ banner }} </div>
    <div class="bannerText__block">{{ banner }} </div>
    <div class="bannerText__block">{{ banner }} </div>
  </div>
</div>
