<div class="bannerText bannerText--large">
  <div class="bannerText__inner">
    <div class="bannerText__block">{{ page_banner }}</div>
    <div class="bannerText__block">{{ page_banner }}</div>
    <div class="bannerText__block">{{ page_banner }}</div>
    <div class="bannerText__block">{{ page_banner }}</div>
  </div>
</div>
