<ul class="socialLinks">

  {% for link in linklists.social-media.links %}
    <li class="socialLinks__item water">
      <div class="water__inner"></div>
        {% case link.title %}
          {% when 'Facebook' %}
            <!-- FB -->
            <svg width="8px" height="16px" viewBox="0 0 8 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g class="fill" transform="translate(-837.000000, -7978.000000)" fill="#FFFFFF">
                        <g transform="translate(0.000000, 7739.000000)">
                            <g transform="translate(821.000000, 90.000000)">
                                <g transform="translate(0.000000, 137.000000)">
                                    <g >
                                        <path d="M21.3874693,27.1604938 L18.3219477,27.1604938 L18.3219477,19.7521514 L16.7901235,19.7521514 L16.7901235,17.1994851 L18.3219477,17.1994851 L18.3219477,15.6669503 C18.3219477,13.5846104 19.1864379,12.345679 21.6441002,12.345679 L23.6896546,12.345679 L23.6896546,14.8992803 L22.4111831,14.8992803 C21.4544369,14.8992803 21.3912158,15.2559991 21.3912158,15.9217494 L21.387001,17.1994851 L23.7037037,17.1994851 L23.4325554,19.7521514 L21.387001,19.7521514 L21.387001,27.1604938 L21.3874693,27.1604938 Z" ></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          {% when 'Twitter' %}
            <!-- TWITTER -->
            <svg width="15px" height="14px" viewBox="0 0 15 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g class="fill" transform="translate(-898.000000, -7980.000000)" fill="#FFFFFF">
                        <g transform="translate(0.000000, 7739.000000)">
                            <g transform="translate(821.000000, 90.000000)">
                                <g transform="translate(0.000000, 137.000000)">
                                    <g  transform="translate(63.703704, 0.000000)">
                                        <path d="M26.0398827,16.7666198 C26.6502705,16.3814303 27.118629,15.7706553 27.3384362,15.0430752 C26.7669374,15.4006238 26.1354143,15.6592001 25.4616206,15.7991879 C24.9239382,15.1928711 24.1554583,14.8148148 23.3049734,14.8148148 C21.6733273,14.8148148 20.3511022,16.210235 20.3511022,17.9311046 C20.3511022,18.1754146 20.3756192,18.4134831 20.4263439,18.6408518 C17.9712661,18.5106721 15.794329,17.2712893 14.3359925,15.3845742 C14.0815234,15.8464449 13.9361124,16.3814303 13.9361124,16.9520814 C13.9361124,18.0327518 14.4577319,18.986809 15.2507288,19.5467604 C14.7663075,19.5307108 14.3106301,19.3889397 13.9115955,19.1571127 L13.9115955,19.1954533 C13.9115955,20.7058954 14.9294721,21.9657859 16.2829774,22.2511114 C16.0344262,22.3242261 15.7740391,22.3607834 15.5035071,22.3607834 C15.3132893,22.3607834 15.1272986,22.3420589 14.9480711,22.3055016 C15.3234343,23.5431011 16.4148618,24.4454431 17.7083428,24.4695174 C16.6963841,25.3058779 15.4223475,25.8034143 14.0384073,25.8034143 C13.800001,25.8034143 13.5641309,25.7900396 13.3333333,25.7606154 C14.6411864,26.6442329 16.1942091,27.1604938 17.8630533,27.1604938 C23.2990555,27.1604938 26.2698349,22.411607 26.2698349,18.2931114 C26.2698349,18.1575817 26.2681441,18.0229437 26.2622262,17.890089 C26.8396429,17.4505094 27.3418179,16.9012578 27.7366255,16.2762165 C27.2065519,16.5240931 26.6367439,16.6917218 26.0398827,16.7666198 Z" ></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
          {% when 'Instagram' %}
            <!-- INSTA -->
            <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g class="fill" transform="translate(-963.000000, -7978.000000)" fill="#FFFFFF">
                        <g transform="translate(0.000000, 7739.000000)">
                            <g transform="translate(821.000000, 90.000000)">
                                <g transform="translate(0.000000, 137.000000)">
                                    <g  transform="translate(129.382716, 0.000000)">
                                        <path d="M20.2468989,14.1742012 C22.2247715,14.1742012 22.4590312,14.1817286 23.2401124,14.2173659 C23.9623273,14.2503275 24.3545439,14.3710005 24.6155904,14.472414 C24.9613197,14.6067892 25.2081054,14.7673336 25.4672995,15.0265277 C25.7264935,15.2857218 25.887038,15.5325074 26.0213837,15.8782367 C26.1228267,16.1392832 26.2434997,16.5314998 26.2764613,17.2536853 C26.3120986,18.034796 26.319626,18.2690556 26.319626,20.2469283 C26.319626,22.2248009 26.3120986,22.4590606 26.2764613,23.2401418 C26.2434997,23.9623567 26.1228267,24.3545734 26.0213837,24.6156198 C25.887038,24.9613491 25.7264935,25.2081348 25.4672995,25.4673289 C25.2081054,25.7265229 24.9613197,25.8870674 24.6155904,26.0214131 C24.3545439,26.1228561 23.9623273,26.2435291 23.2401124,26.2764907 C22.4591488,26.312128 22.2248891,26.3196554 20.2468989,26.3196554 C18.2689086,26.3196554 18.0346489,26.312128 17.2536853,26.2764907 C16.5314704,26.2435291 16.1392538,26.1228561 15.8782367,26.0214131 C15.532478,25.8870674 15.2856923,25.7265229 15.0264983,25.4673289 C14.7673042,25.2081348 14.6067598,24.9613491 14.472414,24.6156198 C14.3709711,24.3545734 14.2502981,23.9623567 14.2173365,23.2401712 C14.1816992,22.4590606 14.1741718,22.2248009 14.1741718,20.2469283 C14.1741718,18.2690556 14.1816992,18.034796 14.2173365,17.2537147 C14.2502981,16.5314998 14.3709711,16.1392832 14.472414,15.8782367 C14.6067598,15.5325074 14.7673042,15.2857218 15.0264983,15.0265277 C15.2856923,14.7673336 15.532478,14.6067892 15.8782367,14.472414 C16.1392538,14.3710005 16.5314704,14.2503275 17.2536559,14.2173659 C18.0347666,14.1817286 18.2690262,14.1742012 20.2468989,14.1742012 M20.2468989,12.8395062 C22.2586446,12.8395062 22.5108994,12.8480333 23.3009488,12.8840823 C24.0894103,12.9200724 24.6278518,13.0452736 25.0990469,13.2284002 C25.5861494,13.4177015 25.9992427,13.6709854 26.4110422,14.0827849 C26.8228417,14.4945845 27.0761256,14.9076777 27.265427,15.3947803 C27.4485535,15.8659754 27.5737547,16.4044168 27.6097449,17.1928784 C27.6457939,17.9829277 27.654321,18.2351825 27.654321,20.2469283 C27.654321,22.2586741 27.6457939,22.5109288 27.6097449,23.3009782 C27.5737547,24.0894397 27.4485535,24.6278812 27.265427,25.0990763 C27.0761256,25.5861788 26.8228417,25.9992721 26.4110422,26.4110716 C25.9992427,26.8228711 25.5861494,27.0761551 25.0990469,27.2654564 C24.6278518,27.4485829 24.0894103,27.5737841 23.3009488,27.6097743 C22.5108994,27.6458233 22.2586446,27.654321 20.2468989,27.654321 C18.2351531,27.654321 17.9829277,27.6458233 17.192849,27.6097743 C16.4043874,27.5737841 15.865946,27.4485829 15.3947509,27.2654564 C14.9076483,27.0761551 14.4945551,26.8228711 14.0827555,26.4110716 C13.670956,25.9992721 13.4176721,25.5861494 13.2283708,25.0990763 C13.0452442,24.6278812 12.920043,24.0894397 12.8840529,23.3009782 C12.8480039,22.5109288 12.8395062,22.2586741 12.8395062,20.2469283 C12.8395062,18.2351825 12.8480039,17.9829277 12.8840529,17.1928784 C12.920043,16.4044168 13.0452442,15.8659754 13.2283708,15.3947803 C13.4176721,14.9076777 13.670956,14.4945845 14.0827555,14.0827849 C14.4945551,13.6709854 14.9076483,13.4177015 15.3947509,13.2284002 C15.865946,13.0452736 16.4043874,12.9200724 17.192849,12.8840823 C17.9829277,12.8480333 18.2351531,12.8395062 20.2468989,12.8395062 Z M20.2616108,16.4550265 C18.1593016,16.4550265 16.4550265,18.1593016 16.4550265,20.2616108 C16.4550265,22.36392 18.1593016,24.0681952 20.2616108,24.0681952 C22.36392,24.0681952 24.0681952,22.36392 24.0681952,20.2616108 C24.0681952,18.1593016 22.36392,16.4550265 20.2616108,16.4550265 Z M20.2616108,22.7325583 C18.8969607,22.7325583 17.7906634,21.6262609 17.7906634,20.2616108 C17.7906634,18.8969607 18.8969607,17.7906634 20.2616108,17.7906634 C21.6262609,17.7906634 22.7325583,18.8969607 22.7325583,20.2616108 C22.7325583,21.6262609 21.6262609,22.7325583 20.2616108,22.7325583 Z M25.0676073,16.278645 C25.0676073,15.7916169 24.6728158,15.3968254 24.1857877,15.3968254 C23.6987595,15.3968254 23.3039389,15.7916169 23.3039389,16.278645 C23.3039389,16.7656732 23.6987595,17.1604938 24.1857877,17.1604938 C24.6728158,17.1604938 25.0676073,16.7656732 25.0676073,16.278645 Z" ></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        {% when 'LinkedIn' %}
          <!-- LINKEDIN -->
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	 width="430.117px" height="430.117px" viewBox="0 0 430.117 430.117" style="enable-background:new 0 0 430.117 430.117;"
          	 xml:space="preserve">
            <g class="fill" fill="#FFFFFF">
            	<path id="LinkedIn" d="M430.117,261.543V420.56h-92.188V272.193c0-37.271-13.334-62.707-46.703-62.707
            		c-25.473,0-40.632,17.142-47.301,33.724c-2.432,5.928-3.058,14.179-3.058,22.477V420.56h-92.219c0,0,1.242-251.285,0-277.32h92.21
            		v39.309c-0.187,0.294-0.43,0.611-0.606,0.896h0.606v-0.896c12.251-18.869,34.13-45.824,83.102-45.824
            		C384.633,136.724,430.117,176.361,430.117,261.543z M52.183,9.558C20.635,9.558,0,30.251,0,57.463
            		c0,26.619,20.038,47.94,50.959,47.94h0.616c32.159,0,52.159-21.317,52.159-47.94C103.128,30.251,83.734,9.558,52.183,9.558z
            		 M5.477,420.56h92.184v-277.32H5.477V420.56z"/>
            </g>
          </svg>
      {% endcase %}
      <a class="socialLinks__link" href="{{link.url}}" target="_blank"></a>
    </li>
  {% endfor %}
</ul>
