{% assign page_banner = "PRESS & " %}
{%- include 'page-banner' -%}

<div class="section u-bgLightBlue u-vPad160">
  <div class="section__inner t-colorMainBlue u-flex">

  </div>
</div>

{% include "footer" %}
